<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/StyleSheet/loadPrivacySecurity.css">

    <title>Privacy and Security Information</title>
   
       
       
</head>
<body>
    <div class="container">
        <h1 id="title"></h1>

        

        <div class="section">
           <p id="mainText"></p>
        </div>

        <div class="section">
            <h2>Additional Information</h2>
            <p id="additionalInfo"></p>
        </div>

        <div class="section">
            <h2>Videos</h2>
            <ul id="videos" class="list"></ul>
        </div>

        <div class="section">
            <h2>Related Links</h2>
            <ul id="relatedLinks" class="list"></ul>
        </div>

        <div class="section">
            <h2>Frequently Asked Questions</h2>
            <ul id="faq" class="list"></ul>
        </div>

        <div class="section">
            <h2>Important Notes</h2>
            <ul id="importantNotes" class="list"></ul>
        </div>

        <div class="section">
            <h2>Policies</h2>
            <p id="policies"></p>
        </div>
    </div>
    <script src="/Scripts/loadPrivacySecurity.js"></script>

    
</body>
</html>
