body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin-top: 100px;
}

div {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="file"] {
    display: none;
}

label {
    display: block;
    background-color: #2196f3;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

label:hover {
    background-color: #1976d2;
}

#myButton {
    display: block;
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#myButton:hover {
    background-color: #45a049;
}

