body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    color: #0066cc;
}

.project {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

button {
    border: none;
    font-weight: bolder;
    font-size: 19px;
    background-color: green;
    color: white;
    padding: 10px;
    margin: 10px;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 6px;
    cursor: pointer; /* Add cursor style for better user feedback */
}

button:hover {
    background-color: darkgreen; /* Change color on hover */
}
a{
    text-decoration: none;
}
