<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./StyleSheet/contact.css">
    <title>Contact</title>
</head>

<body>
    <div class="wrapper">
        <div class="title">
            <h1>contact us form</h1>
        </div>
        <div class="contact-form">
           
                <div class="input-fields">
                    <input type="text" class="input" placeholder="Name" id="name">
                    <input type="text" class="input" placeholder="Email Address" id="address">
                    <input type="text" class="input" placeholder="Phone" id="phoneNo">
                    <input type="text" class="input" placeholder="Subject" id="subject">
                </div>
                <div class="msg">
                    <textarea placeholder="Message" id="message"></textarea>
                    <div class="btn" type="submit" id="submit">send</div>
                </div>
          

        </div>
        <p id="responce-message" style="display: none;"></p>
    </div>

    <script src="Scripts/contact.js"></script>
</body>

</html>