<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ankit Patel Web Developer </title>
    <meta http-equiv="Content-Security-Policy" content="img-src 'self' ;">
    <meta name="description" content="Portfolio of Ankit Patel, a skilled web developer and software engineer specializing in web development, Java, OOP, and creating dynamic, impactful digital solutions. Discover Ankit's expertise in full-stack development, UI/UX design, responsive websites, project management, and his commitment to high-quality coding standards. View a portfolio of projects, read client testimonials, and connect to discuss collaboration opportunities for innovative web solutions.">
    <meta property="og:title" content="Ankit Patel - Web Developer Portfolio">
    <meta property="og:description" content="Explore the portfolio of Ankit Patel, showcasing projects, skills, and client testimonials.">
    <meta property="og:image" content="/get-logo-from-drive/Ankitpicture.png">
    <meta property="og:url" content="https://my-ankit.vercel.app">
    <meta property="og:type" content="website">
    <meta name="keywords" content="Ankit Patel, Web Developer, Java, OOP, Portfolio, JavaScript, HTML, CSS, Full Stack Development,Project manager">
    <meta name="robots" content="index, follow">
    <meta name="robots" content="index, follow">
    <link rel="icon" href="/get-logo-from-drive/Ankitpicture.png" type="image/png">
    <link rel="stylesheet" href="./StyleSheet/home.css">
    <link rel="stylesheet" href="./StyleSheet/TestimonialsHome.css">
    <link rel="stylesheet" href="./StyleSheet/testimonial_form.css">
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Ankit Patel - Web Developer",
        "url": "https://my-ankit.vercel.app",
        "mainEntityOfPage": "https://my-ankit.vercel.app",
        "image": "/get-logo-from-drive/Ankitpicture.png",
        "sameAs": [
        "https://linkedin.com/in/ankit-patel-6516a3219",
        "https://github.com/Ankitpatel239",
        "https://www.instagram.com/vairagya_a"
        ],
        "worksFor": {
            "@type": "Organization",
            "name": "Dailidecal Pvt Ltd"
          },
        "description": "Ankit Patel is a passionate Web Developer specializing in Java, OOP, and creating digital solutions.",

        "breadcrumb": {
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": "About",
                    "item": "https://my-ankit.vercel.app/about"
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "Contact",
                    "item": "https://my-ankit.vercel.app/contact"
                },
                {
                    "@type": "ListItem",
                    "position": 3,
                    "name": "Education",
                    "item": "https://my-ankit.vercel.app/education/Educationpage"
                },
                {
                    "@type": "ListItem",
                    "position": 4,
                    "name": "Login",
                    "item": "https://my-ankit.vercel.app/login"
                },
                {
                    "@type": "ListItem",
                    "position": 5,
                    "name": "Skills",
                    "item": "https://my-ankit.vercel.app/education/skills"
                },
                {
                    "@type": "ListItem",
                    "position": 6,
                    "name": "Resume",
                    "item": "https://my-ankit.vercel.app/education/resume"
                },
                {
                    "@type": "ListItem",
                    "position": 7,
                    "name": "Blog",
                    "item": "https://my-ankit.vercel.app/education/blog"
                },
                {
                    "@type": "ListItem",
                    "position": 8,
                    "name": "Portfolio",
                    "item": "https://my-ankit.vercel.app/education/portfolio"
                },
                {
                    "@type": "ListItem",
                    "position": 9,
                    "name": "Projects",
                    "item": "https://my-ankit.vercel.app/education/projects"
                },
                {
                    "@type": "ListItem",
                    "position": 10,
                    "name": "Testimonials",
                    "item": "https://my-ankit.vercel.app/education/testimonials"
                },
                {
                    "@type": "ListItem",
                    "position": 11,
                    "name": "Services",
                    "item": "https://my-ankit.vercel.app/education/services"
                },
                {
                    "@type": "ListItem",
                    "position": 12,
                    "name": "Clients",
                    "item": "https://my-ankit.vercel.app/education/clients"
                },
                {
                    "@type": "ListItem",
                    "position": 13,
                    "name": "FAQ",
                    "item": "https://my-ankit.vercel.app/education/faq"
                },
                {
                    "@type": "ListItem",
                    "position": 14,
                    "name": "Publications",
                    "item": "https://my-ankit.vercel.app/education/publications"
                },
                {
                    "@type": "ListItem",
                    "position": 15,
                    "name": "Awards",
                    "item": "https://my-ankit.vercel.app/education/awards"
                },
                {
                    "@type": "ListItem",
                    "position": 16,
                    "name": "Gallery",
                    "item": "https://my-ankit.vercel.app/education/gallery"
                },
                {
                    "@type": "ListItem",
                    "position": 17,
                    "name": "Subscribe",
                    "item": "https://my-ankit.vercel.app/#subcribe-button"
                }
            ]
        }
    }
    </script>
</head>


<script src="/Scripts/TestimonialsHome.js"></script>
<body translate="no">
    <h1><a href="https://my-ankit.vercel.app" style="display:none">Ankit Patel - Web Developer</a></h1>
    <h2><a href="https://my-ankit.vercel.app/about" style="display:none">About Me</a></h2>
    <h2><a href="https://my-ankit.vercel.app/education/projects" style="display:none">Projects</a></h2>
    <h2><a href="https://my-ankit.vercel.app/education/testimonials" style="display:none">Testimonials</a></h2>
    <h2><a href="https://my-ankit.vercel.app/contact" style="display:none">Contact</a></h2>

    <div class="nav-bar">
        <nav>
            <div id="top-logo">
                <img id="imgLogo" alt="Ankit Patel - Web Developer Profile Picture">
               <h1 class="name">ANKIT PATEL</h1>
            </div>
            <ul class="list-item">
                <li><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/education/Educationpage">Education</a></li>
                <li id="viewMoreOptions"> More Options </li>


            </ul>
            <ul>
                <li id="viewmore"> ☰ Menu </li>
                <li class="login"><a href="/login">Login</a></li>
            </ul>
        </nav>
        <div id="view">
            <ul id="viewItem">
                <li class="show-hide"><a href="/login">Login</a></li>
                <li class="show-hide"><a href="home">Home</a></li>
                <li class="show-hide"><a href="about">About</a></li>
                <li class="show-hide"><a href="/contact">Contact</a></li>
                <li class="show-hide"><a href="/education/Educationpage">Education</a></li>
                <li  class="always-show"><a href="/education/skills">Skills</a></li>
                <li class="always-show"><a href="/education/resume">Resume</a></li>
                <li class="always-show"><a href="/education/blog">Blog</a></li>
                <li class="always-show"><a href="/education/portfolio">Portfolio</a></li>
                <li class="always-show"><a href="/education/projects">Projects</a></li>
                <li class="always-show"><a href="/education/testimonials">Testimonials</a></li>
                <li class="always-show"><a href="/education/services">Services</a></li>
                <li class="always-show"><a href="/education/clients">Clients</a></li>
                <li class="always-show"><a href="/education/faq">FAQ</a></li>
                <li class="always-show"><a href="/education/publications">Publications</a></li>
                <li class="always-show"><a href="/education/awards">Awards</a></li>
                <li class="always-show"><a href="/education/gallery">Gallery</a></li>
          <!--  <li><a href="#events">Events</a></li> -->
                <li class="always-show"><a href="#subcribe-button">Subscribe</a></li> 
            </ul>
        </div>
    </div>


    <section class="sticky">
        <div class="welcome-area">
            <h1>welcome... </h1>
            <section id="home">
                <h1>
                    <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Ankit.", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
                      <span class="wrap"></span>
                    </a>
                  </h1>
           </section> 
          
           
        </div>
        <div class="bubbles">
            <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          
        </div>
      </section>
  
    
    <div class="sections-Area">

        

        <section id="Testimonials" class="section">
            <h2>Testimonials</h2>
            <div class="sectionData">
                <div class="slideshow-container" id="testimonialList"></div>
                <div class="loader">
                    <div class="bubbleLoader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <p style="text-align: center;">Testimonials loading...</p>
                </div>
                <div style="text-align: center" id="dotsContainer">

                </div>
            </div>
        </section>



        <!-- Portfolio Page -->
        <section id="projects" class="section">
            <h2>Projects</h2>
            <div style="text-align:center" class="loader">
                <span class="dot2"></span>
                <span class="dot2"></span>
                <span class="dot2"></span>
            </div>
            <!-- Add more projects as needed -->
        </section>

        <!-- Skills Page -->
        <section id="skills" class="section">
            <h2 id="skill-head">Skills</h2>
            <ul class="skills-list">
                <li class="skill web-development">Web Development - 80%</li>
                <li class="skill java">Java - 70%</li>
                <li class="skill html-css-js">HTML/CSS/JavaScript - 85%</li>
                <li class="skill oops-concept">OOPs Concept - 75%</li>
            </ul>
            
        </section>
        <!-- Resume Page -->
        <!-- <section id="resume" class="section">
            <h2>Resume</h2>
            <p>Include a downloadable PDF version of your resume.</p>
            <a href="your_resume.pdf" download>Download Resume</a>
        </section> -->

        <!-- Blog Page -->
        <!-- <section id="blog" class="section">
            <h2>Blog</h2>
            <p>Share your thoughts, insights, and updates here.</p>
       </section> -->


        <!-- Contact Page -->
        <!-- <section id="contact" class="section">
            <h2>Contact</h2>
            <p>Provide a way for visitors to get in touch. You can include a form or links to your email and social
                media.
            </p>
           <form action="#" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>

                <input type="submit" value="Send Message">
            </form>
        </section> -->

        <section class="contact_section layout_padding" id="contact" class="section">
            <div class="container-conatct">
                <div class="heading_container">
                    <h2>
                        Contact Us
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form_container">
                            <form action="">
                                <div>
                                    <input type="text" placeholder="Your Name" id="name">
                                </div>
                                <div>
                                    <input type="text" placeholder="Phone Number" id="phoneNo">
                                </div>
                                <div>
                                    <input type="email" placeholder="Email" id="address">
                                </div>
                                <div>
                                    <input type="text" placeholder=" Your Subject" id="subject">
                                </div>
                                <div>
                                    <input type="text" class="message-box" placeholder="Message" id="message">
                                </div>
                                <p id="responce-message"></p>
                                <div class="btn_box">
                                    <button id="submit">
                                        SEND
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="map_container">
                            <div class="map">
                                <iframe src="" id="mapeUrl" width="600" height="450" style="border:0;"
                                    allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Education Page -->
        <!-- <section id="education" class="section">
            <h2>Education</h2>
            <p>Your educational background and qualifications go here.</p>
        </section> -->

        <!-- Projects Page -->
        <!-- <section id="projects" class="section">
            <h2>Projects</h2>
            <p>Highlight significant projects you've worked on.</p>
           
        </section> -->

        <!-- Testimonials Page -->
        <!-- <section id="testimonials" class="section">
            <h2>Testimonials</h2>
            <p>Share what others have said about your work or skills.</p>
        </section> -->

        <!-- Services Page -->
        <!-- <section id="services" class="section">
            <h2>Services</h2>
            <p>Describe the services you offer to clients.</p>
        </section> -->

        <!-- Clients Page -->
        <!-- <section id="clients" class="section">
            <h2>Clients</h2>
            <p>Showcase the clients or companies you have collaborated with.</p>
        </section> -->

        <!-- FAQ Page -->
        <!-- <section id="faq" class="section">
            <h2>FAQ</h2>
            <p>Answer frequently asked questions to provide information to visitors.</p>
        </section> -->

        <!-- Publications Page -->
        <!-- <section id="publications" class="section">
            <h2>Publications</h2>
            <p>Highlight any publications, articles, or papers you have authored.</p>
        </section> -->

        <!-- Awards Page -->
        <!-- <section id="awards" class="section">
            <h2>Awards</h2>
            <p>Display any awards or recognitions you have received.</p>
        </section> -->
    </div>


    <div class="bottom-block">

        <h1>ANKIT</h1>
        <hr>
        <div class="row">
            <div class="bottom-block-inner-row">
                <div class="info-contact">
                    <h5>About</h5>
                    <div>
                        <div class="image-box">
                            <img id="aboutMeImg" alt>
                        </div>
                        <p><a href="/about">About Me</a></p>
                    </div>
                    <div>
                        <div class="image-box">
                            <img  id="phoneCallImg" alt>
                        </div>
                        <p id="contactTelPhoneNo"></p>
                    </div>
                    <div>
                        <div class="image-box">
                            <img id="gmailiconeImg" alt>
                        </div>
                        <p id="contactEmail"></p>
                    </div>
                    <div>
                        <div class="image-box">
                            <img id="whatsappImg" alt>
                        </div>
                        <p id="GoToWhatsappChat"></p>
                    </div>
                </div>
            </div>

            <div class="bottom-block-inner-row">

                <div class="info-contact">
                    <h5>Information</h5>
                    <div>
                        <p id="my-information"></p>
                    </div>

                </div>

            </div>
            <div class="bottom-block-inner-row">
                <div class="info-contact btn">
                    <h5>Resume</h5>
                    <div>
                        <!-- <a href="/Resume/Ankit_Patel_Resume.pdf" download>Download</a> -->
                        <a href="/get-resume-from-drive/Ankit-portfolio-resume.pdf" download>Download</a>
                    </div>

                </div>

                <div class="info-contact btn">
                    <h5>Blog</h5>
                    <div>
                        <a href="/education/blog">Visit Blogs</a>
                    </div>

                </div>
                <div class="info-contact btn">
                    <h5>Contact</h5>
                    <div>
                        <a href="/contact">Contact Me</a>
                    </div>

                </div>
            </div>
            <div class="bottom-block-inner-row">
                <div>
                    <div class="pasBlock">
                        <h5>Privacy and security</h5>
                        <div class="pas">
                            <a href="/visit/PrivacySecurity">Visit</a>
                        </div>
                    </div>
                    <div class="Newsletter">
                        <h5>Newsletter</h5>
                        <div class="subscribe">
                            <input type="email" name="Newsletter" id="Newsletter" placeholder="Enter Your Email">
                            <button id="subcribe-button">subscribe</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer>
        <p id="footer-data"></p>
    </footer>

    <script src="/Scripts/home.js"></script>
    
    <script src="/Scripts/section-area-home.js"></script>
    <script src="/Scripts/contact.js"></script>
    <script src="/Scripts/subscribeButton.js"></script>
    <script src="/Scripts/setHomeInfo.js"></script>
    <script src="/Scripts/logo-for-home-from-drive.js"></script>



    </div>
</body>

</html>
