<!-- views/education.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Name - Portfolio</title>
    <link rel="stylesheet" href="/StyleSheet/education.css">
    <link rel="stylesheet" href="/StyleSheet/contact.css">
</head>

<body>
    <header>
        <h1>Ankit Patel</h1>
        <h2>B.Tech Student - Web Developer | Information Technology</h2>

    </header>

    <section class="intro">
        <img src="/get-logo-from-drive/AnkitLogo.png" alt="Ankit Patel">
        <p>Hi, I'm Ankit Patel, a passionate B.Tech student in Information Technology from Baderia Global Institute of
            Engineering and Management, Jabalpur. Originally from Jabalpur, I am on a journey to explore the vast world
            of web development and technology.</p>
        <p>My academic journey has been an exciting one, filled with challenges and opportunities for growth. I
            completed my Class 10 and Class 12 education with distinction, laying the foundation for my pursuit of
            higher studies in IT.</p>
        <p>Currently, I'm enrolled in the B.Tech program at Baderia Global Institute, where I am honing my skills in
            Information Technology. I actively participate in various coding competitions and collaborative projects to
            enhance my practical knowledge.</p>
        <p>In addition to my studies, I have a strong passion for web development. I have hands-on experience with HTML,
            CSS, and JavaScript, and I am continuously exploring new technologies and frameworks to expand my skill set.
            I have successfully completed several web development projects, showcasing my ability to create responsive
            and user-friendly web applications.</p>
        <p>Outside the realm of academia and coding, I enjoy exploring the latest trends in technology, attending tech
            meetups, and engaging in discussions with fellow enthusiasts. I believe in the power of community and
            collaboration to foster learning and innovation.</p>
        <p>My dream is to secure a position in a reputed tech company where I can apply my skills, contribute to
            innovative projects, and continue learning in a dynamic and challenging environment.</p>
        <p>Looking forward to connecting with fellow developers, industry professionals, and mentors to explore the
            endless possibilities of the digital world!</p>
    </section>


    <section class="education">
        <h2>Education</h2>
        <ul>
            <li>
                <h3>B.Tech (Information Technology)</h3>
                <p><a href="https://www.globalengineeringcollege.com/" target="_blank">Baderia Global Institute of
                        Engineering and Management</a> / <a href="https://www.rgpv.ac.in/">Rajiv Gandhi Proudyogiki
                        Vishwavidyalaya</a></p>
                <p>Year of Joining: Nov 2020</p>
                <p>Year of Completion: July 2024</p>
                <p>Current CGPA: 8.52(7th)</p>
                <p>Relevant Coursework: Data Structures and Algorithms (DSA),
                    Web Development, Database Management, Software Engineering, Java Programming</p>

                <p>Achievements:
                    Certification from S&S THINK HUB (For completing Project Training) and achieved 2nd Rank</p>
            </li>
            <li>
                <h3>BA (Private)</h3>
                <p>Government Shyam Sundar Agrawal College, Sihora / <a href="http://www.rdunijbpin.org"
                        target="_blank"> Rani Durgavati Vishwavidyalaya
                        Jabalpur Madhya Pradesh </a></p>
                <p>Year of start: 2019</p>
                <p>Year of Completion: 2021</p>
                <p>Major/Area of Study: Bachelor of Arts in Economics, Political Science, and Social Science</p>
                <p>Relevant Subjects:</p>
                <ul>
                    <li>Economics: Microeconomics, Macroeconomics, Economic Policies</li>
                    <li>Political Science: Political Theory, Comparative Politics, International Relations</li>
                    <li>Social Science: Sociology, Anthropology, Social Research Methods</li>
                </ul>
                <p>Objective: To gain a comprehensive understanding of the economic, political, and social aspects of
                    society through in-depth coursework and research.</p>
            </li>
            <li>
                <h3>ITI (Industrial Training Institute)</h3>
                <p>Govt Model Industrial Training Institute Jabalpur</p>
                <p>Year of Start: Aug 2019</p>
                <p>Year of Completion: Jul 2020</p>
                <p>Trade/Area of Specialization: Mechanic Diesel (NSQF)</p>
                <p>Score/Grades: 75.42%</p>
                <p>Achievements:</p>
                <ul>
                    <li>
                        <p>Received a Directorate General of Training National Trade Certificate</p>
                        <p>Issued by the Ministry of Skill Development and Entrepreneurship, Govt. of India</p>
                    </li>
                    <!-- Add any other achievements or projects here -->
                </ul>
            </li>



            <li>
                <h3>Class 12</h3>
                <p>School Name: Lalchand Government Higher Secondary School Khitola Sihora</p>
                <p>Board: MPBSE (Madhya Pradesh Board of Secondary Education)</p>
                <p>Year of Completion: May 2018</p>
                <p>Percentage: 68.20%</p>
                <p>Stream: Science (Physics, Mathematics, Chemistry)</p>
            </li>

            <li>
                <h3>Class 10</h3>
                <p>School Name: Lalchand Government Higher Secondary School Khitola Sihora</p>
                <p>Board: MPBSE (Madhya Pradesh Board of Secondary Education)</p>
                <p>Year of Completion: May 2016</p>
                <p>Percentage: 80.66%</p>
                <p>Subjects: Special Hindi, General English, Social Science, Mathematics, Science</p>
            </li>




        </ul>
    </section>

    <section class="skills">
        <div>
            <h2>Technical Skills</h2>
            <div>
                <p>Web Development (HTML, CSS, JavaScript)</p>
                <p>Programming Languages: Java, C, Node.js</p>
                <p>Data Structures and Algorithms</p>
                <p>Database Management (MySQL, MongoDB)</p>
                <p>Full Stack Development</p>
                <p>Responsive Web Design</p>
                <p>API Development and Integration</p>
            </div>
        </div>

        <div class="soft-skill">
            <h2>Soft Skills</h2>
            <div>
                <p>Problem Solving</p>
                <p>Quick learner</p>
                <p>Agile Development</p>
                <p>Effective Communication</p>
                <p>Team Collaboration</p>
                <p>Adaptability</p>
                <p>Critical Thinking</p>
                <p>Time Management</p>
                <p>Attention to Detail</p>
                <p>Creativity</p>
            </div>
        </div>
    </section>




    <section class="projects">
        <h2>Projects</h2>

        <div class="project">
            <h3>Hospital Management System</h3>
            <p>Web Application</p>
            <p>Responsive website allowing users to take appointments with doctors, check medicine timing, view visit
                history, and access reports.</p>
            <p>Technologies: HTML, CSS, JavaScript, Node.js, MongoDB</p>
            <p>Role: Full Stack Web Developer</p>
            <p>Achievements: Successfully implemented appointment scheduling and report generation features.</p>
        </div>

        <div class="project">
            <h3>Banking System</h3>
            <p>Web Application</p>
            <p>This project is beneficial for both banks and customers. It facilitates easy management of customer data
                for the bank and provides customers with features like opening a new account, changing passwords, and
                transferring money (NEFT or IMPS).</p>
            <p>Technologies: JSP, Java, HTML, CSS, JavaScript, MySQL</p>
            <p>Role: Full Stack Web Developer</p>
            <p>Achievements: Streamlined account management processes for improved customer service.</p>
        </div>

        <div class="project">
            <h3>Portfolio Website</h3>
            <p>Web Application</p>
            <p>This is my personal portfolio website, showcasing my skills, education, and projects. It provides
                visitors with information about my background, achievements, and a glimpse of my technical and soft
                skills.</p>
            <p>Technologies: HTML, CSS, JavaScript(Node.js)</p>
            <p>Role: Full Stack Web Developer</p>
            <p>Achievements: Designed and developed a user-friendly and responsive portfolio website.</p>
        </div>



        <!-- Add more projects as needed -->

    </section>


    <section class="contact">
        <h2>Contact Me</h2>
        <div class="contact-info">
            <p>Email: ankitlodhi239@gmail.com</p>
            <p>LinkedIn: <a href="www.linkedin.com/in/ankit-patel-6516a3219">ankit-patel-6516a3219</a></p>
            <p>WhatsApp: <a href="https://wa.me/6261888524" target="_blank">Chat with me on WhatsApp</a></p>
            <p>Phone: +91 62618-88524</p>
            <p>Location: <a href="https://maps.app.goo.gl/8Amq4KMgnoQsTEqAA">Jabalpur, Madhya Pradesh,India</a></p>
            <p>Twitter: <a href="https://twitter.com/APcreations13" target="_blank">APcreations13</a></p>
            <p>Portfolio: <a href="../ankitpatel.com" target="_blank">ankitpatel.com</a></p>
        </div>

     
            <div class="contact-form">

                <div class="input-fields">
                    <h3>Send me a message</h3>
                    <input type="text" class="input" placeholder="Name" id="name">
                    <input type="text" class="input" placeholder="Email Address" id="address">
                    <input type="text" class="input" placeholder="Phone" id="phoneNo">
                    <input type="text" class="input" placeholder="Subject" id="subject">
                </div>
                <div class="msg">
                    <textarea placeholder="Message" id="message"></textarea>
                    <p id="responce-message" style="display: none;"></p>
                    <div class="btn" type="submit" id="submit">send</div>
                    
                </div>
            </div>
            
       

    </section>


    <script src="/Scripts/education.js"></script>
    <script src="../Scripts/contact.js"></script>
</body>

</html>