<!-- views/resume.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ankit Patel - Resume</title>
    <link rel="stylesheet" href="/StyleSheet/resume.css">
</head>

<body>
    <header>
        <h1>Ankit Patel</h1>
        <h2>B.Tech Student - Web Developer | Information Technology</h2>
    </header>

  

    <section class="resume">
        <h2>Resume</h2>
        <h3>Download Resume</h3>
        <p>Click the button below to download my resume:</p>
        <a href="/get-resume-from-drive/Ankit-portfolio-resume.pdf" download="Ankit_Patel_Resume.pdf">
            <button>Download Resume (PDF)</button>
        
    </section>

   
</body>

</html>
