<!-- password-entry-form.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Entry</title>
    <link rel="stylesheet" href="./StyleSheet/password-entry-form.css">
</head>

<body><a href=""></a>
    <div class="container">
       
        <form id="formid">
            <div class="form-group">
                <label for="PhoneNo">Phone No.:</label>
                <input type="text" id="PhoneNo" name="PhoneNo" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <p id="error-message"></p>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="./Scripts/password-entry-form.js"></script>
</body>

</html>
