<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./StyleSheet/showContactInfo.css">
    <link rel="stylesheet" href="./StyleSheet/userHomePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" />
   




</head>

<body>

    <div class="container">


        <div class="left-block">
            <!-- Add menu button for mobile -->
            <div class="menu-btn" id="mobile-menu">☰ Menu</div>
            <!-- Hidden menu for mobile -->
            <div class="menu">
                <div class="block">
                    <p id="user-home"><i class="fas fa-home"></i> Home</p>
                </div>
                <div class="block">
                    <p id="Profile"><i class="fas fa-user"></i> Me</p>
                </div>
                <div class="block">
                    <p id="profile-update"><i class="fas fa-sync-alt"></i> Update</p>
                </div>
                <div class="block">
                    <p id="message"><i class="fas fa-envelope"></i> Messages</p>
                </div>
                <div class="block">
                    <p id="notification"><i class="fas fa-bell"></i> Notification</p>
                </div>
                <div class="block">
                    <p id="videocall"><i class="fas fa-video"></i> Start Video Call</p>
                </div>

                <div class="block">
                    <p id="Verify" class="verified"> </p>
                </div>
                
                <div class="block">
                    <p id="deleteRequest" class="delete"> <i class="fas fa-times-circle"></i>Delete Account</p>
                </div>
            </div>
        </div>
        <div class="right-block" id="show-frame-data">
            <span class="loader"></span>

        </div>
        

    </div>
 
    <script src="/Scripts/userHomePage.js"></script>

</body>

</html>