<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awards</title>
    <link rel="stylesheet" href="../../StyleSheet/awards.css">
    <!-- Add any additional stylesheets or scripts as needed -->
</head>

<body>

    <header>
        <h1>Awards</h1>
    </header>

    <section class="awards-section">
        <div class="award">
            <h2>Best Innovation Award</h2>
            <div class="img">
            <img src="/get-logo-from-drive/award.jpg" alt="Best Innovation Award">
            <img src="/get-logo-from-drive/certificate.jpg" alt="Best Innovation Award">
        </div>
            <!-- <img src="path/to/your/innovation_award.jpg" alt="Best Innovation Award"> -->
           
            <p><strong>Date:</strong> July 28, 2023</p>
            <p><strong>Description:</strong> Certification from S&S THINK HUB ( For completing Project Training ) and achieved 2nd Rank.</p>
        </div>

        

    </section>

    <footer>
        <p>&copy; 2024 Ankit Patel. All rights reserved. | <a href="https://www.ankitpatel.com" target="_blank">ankitpatel.com</a></p>
    </footer>

</body>

</html>
