<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clients</title>
  <link rel="stylesheet" href="../../StyleSheet/Clients.css">
</head>

<body>
  <h1>Our Valued Clients</h1>

  <!-- <div class="client">
    <h2>Acme Corporation</h2>
    <p>A leading global technology company specializing in innovative software solutions. We partnered with Acme to streamline their customer relationship management system, resulting in a 25% increase in customer satisfaction.</p>
  </div>

  <div class="client">
    <h2>Blue Wave Media</h2>
    <p>A dynamic digital marketing agency focused on delivering results-driven campaigns. We collaborated with Blue Wave to launch a successful social media strategy that generated a 40% boost in brand awareness and engagement.</p>
  </div> -->
  <div class="client">
    <h2>No Clients Yet</h2>
    <p>Be the first to experience our exceptional services! We are ready to embark on exciting journeys with new clients. Contact us to get started.</p>
    <button id="contact">Contact Us</button>
</div>


  <footer>
    <p>&copy; 2024 Ankit Patel. All rights reserved. | <a href="https://www.ankitpatel.com" target="_blank">ankitpatel.com</a></p>
  </footer>
  <script src="/Scripts/services.js"></script>

</body>

</html>
