<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="../../StyleSheet/faq.css">
    <link rel="stylesheet" href="../../StyleSheet/contact.css">
    <!-- Add any additional stylesheets or scripts as needed -->
</head>

<body>

    <header>
        <h1>Frequently Asked Questions</h1>
    </header>

    <section class="faq-section">
        <h2 id="general">General Questions</h2>
       
        <h3>Q: How can I contact support?</h3>
        <p>A: You can contact our support team by emailing ankitloghi239@gmail.com or using our contact form.</p>

        <!-- Add more general Q&A pairs as needed -->

        <h2 id="payment">Payment Questions</h2>
        <h3>Q: What payment methods do you accept?</h3>
        <p>A: We accept credit cards, Paytm,Phone Pay,Google Pay,UPI and other common payment methods.</p>

        <h3>Q: Is my payment information secure?</h3>
        <p>A: Yes, we prioritize the security of your payment information. We use industry-standard encryption and follow best practices.</p>

        <!-- Add more payment-related Q&A pairs as needed -->

    </section>

    <section class="contact-section">
      

        <div class="contact">
            <div class="title">
                <h1>Contact Us</h1>
                <p>Have a question that's not answered here? Feel free to ask us below:</p>

            </div>
            <div class="contact-form">
               
                    <div class="input-fields">
                        <input type="text" class="input" placeholder="Name" id="name">
                        <input type="text" class="input" placeholder="Email Address" id="address">
                        <input type="text" class="input" placeholder="Phone" id="phoneNo">
                        <input type="text" class="input" placeholder="Subject" id="subject">
                    </div>
                    <div class="msg">
                        <textarea placeholder="Message" id="message"></textarea>
                        <div class="btn" type="submit" id="submit">send</div>
                    </div>
              </div>
            <p id="responce-message" style="display: none;"></p>
         </div>
    
        <script src="/Scripts/contact.js"></script>
    </section>

    <footer>
        <p>&copy; 2024 Ankit Patel. All rights reserved. | <a href="https://www.ankitpatel.com" target="_blank">ankitpatel.com</a></p>
    </footer>

</body>

</html>
