<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Name - Portfolio Gallery</title>
    <link rel="stylesheet" href="/StyleSheet/gallery.css"> 
</head>
<body>
    <h1 class="heading">Gallery</h1>
    <div class="container">
        <div class="sliding-image-window">
            <div class="gallery-container">
                <!-- Gallery items will be dynamically added here -->
            </div>
            <button id="prevButton" class="prev-btn">&lt;</button>
            <button id="nextButton" class="next-btn">&gt;</button>
        </div>
    </div>
    <div class="bottom-all-images">
        <!-- Images will be displayed here -->
    </div>
    



<script src="/Scripts/gallery.js"></script>

</body>
</html>
