<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../../StyleSheet/services.css">
</head>

<body>
    <header>
    <h1>Our Services</h1>
    <button id="contact">Contact Me</button>
</header>
    <div class="service">
        <h2>Web Development Services</h2>
        <p>Offering front-end and back-end development, full-stack development, and creating interactive and responsive user interfaces.</p>
    </div>

    <div class="service">
        <h2>Mobile App Development</h2>
        <p>Developing mobile applications for iOS and Android platforms.</p>
    </div>

    <div class="service">
        <h2>UI/UX Design</h2>
        <p>Designing user interfaces and experiences for websites and applications.</p>
    </div>

    <div class="service">
        <h2>Graphic Design</h2>
        <p>Creating visual elements such as logos, banners, and other graphic assets.</p>
    </div>

    <div class="service">
        <h2>Content Creation</h2>
        <p>Writing blog posts, articles, or creating multimedia content.</p>
    </div>

    <div class="service">
        <h2>Digital Marketing</h2>
        <p>Providing online marketing services, including SEO, social media management, and digital advertising.</p>
    </div>

    <div class="service">
        <h2>E-Commerce Solutions</h2>
        <p>Building and maintaining online stores.</p>
    </div>

    <div class="service">
        <h2>Consulting</h2>
        <p>Offering expertise and advice on specific technologies, strategies, or business processes.</p>
    </div>

    <div class="service">
        <h2>Portfolio Reviews</h2>
        <p>Providing reviews and feedback on other portfolios.</p>
    </div>

    <div class="service">
        <h2>Training and Workshops</h2>
        <p>Conducting training sessions or workshops on specific skills or technologies.</p>
    </div>

    <div class="service">
        <h2>Technical Support</h2>
        <p>Offering technical support and troubleshooting services.</p>
    </div>

    <div class="service">
        <h2>Project Management</h2>
        <p>Managing and overseeing the development of projects.</p>
    </div>

    <footer>
        <p>&copy; 2024 Ankit Patel. All rights reserved. | <a href="https://www.ankitpatel.com" target="_blank">ankitpatel.com</a></p>
    </footer>
    <script src="/Scripts/services.js"></script>
</body>

</html>
