<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/StyleSheet/adminDeshBoard.css">
    
    <title>Admin DeshBoard</title>
</head>
<body>
    <div class="container">
        <h1>Admin Dashboard</h1>
        <div class="main">
            <ul>
                <li><a href="/admin/adminProfile">See Admin Profile</a></li>
                <li><a href="/admin/getContactInfoPage">See Contacts</a></li>
                <li><a href="/admin/Check_via_Token_Or_Gmail">Check via Token Or Gmail</a></li>
                <li><a href="/education/addBlogs">Blogs</a></li>
                <li><a href="/admin/testimonials">Testimonials</a></li>
                <li><a href="/admin/seeUsers">See User Profile</a></li>
               <li><a href="/admin/addNotifications">add notification</a></li>
               <li><a href="/admin/update-delete-Notifications">Update/Delete notification</a></li>
               <li><a href="/admin/Privacy-and-Security">update Privacy and Security</a></li> 
               <li><a href="/admin/newsletter-subscribers">Newsletter Subscribers</a></li> 
               <li><a href="/admin/view-account-deletion-Request-page">Account Deletion Request</a></li> 
               <li><a href="/admin/add-homepage-info">Add Homepage Informations</a></li> 
               <li><a href="/admin/Secret_Info_Setting">Update Secret Information</a></li> 
               <li><a href="/admin/addLogo">Add Image</a></li> 
               <li><a href="/admin/View-drive-Image">View Image</a></li> 
               <li><a href="/education/gallery-form">Galleries & form</a></li> 
               <li><a href="/admin/viewAllVideoCallRequestData">View Video Call Requests</a></li> 
               <li><a href="/admin/adminVideoCall">Admin Video Call</a></li> 

            </ul>
        </div>
    </div>
</body>
</html>