<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/StyleSheet/adminProfilePage.css">
    <title>Admin Profile</title>
</head>
<body>
    <h1>Admin Informations</h1>
    <div class="container">

    </div>
    <p id="feedback"></p>
</body>
<script src="/APIs/AdminScripts/adminProfilePage.js"></script>
</html>