<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/StyleSheet/showContactInfo.css">
    <title> Contact Information </title>
    
</head>
<body>

    <h1 class="head">Contact Information</h1>

    <div class="contact-info">
        
    </div>

   <p id="dataNotFound"></p>
   <p id="feedback"></p>
    <script src="/APIs/AdminScripts/showContactInfo.js"></script>

</body>
</html>
