<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Secret Informations</title>
    <link rel="stylesheet" href="/StyleSheet/Secret-Info-Setting.css">
</head>
<body>
    <div class="formBox otpBox">
        <div class="inner-heading-container">
            <form id="otpform">
                <div class="main-heading">
                    <h3 class="verify">Verify</h3>
                </div>
                <div class="input-container">
                    <label for="verifyOtp">Enter Otp : </label>
                    <input type="text" name="verifyOtp" id="verifyOtp">
                </div>
                <div class="button-container">
                    <button type="submit">verify OTP</button>
                </div>
            </form>
        </div>
        
    </div>

    <div class="container">
        <form id="formData">

            <div class="formBox">
                <div class="inner-heading-container">
                    <div class="main-heading">
                        <h3 class="jwt-email">JWT SECRET AND MAIL GMAIL</h3>
                    </div>
                    <div class="input-container">
                        <lebel for="JWT_SECRET">JWT SECRET : </lebel>
                        <input type="text" name="JWT_SECRET" id="JWT_SECRET">
                        <label for="mailAdminEmail">mail- Email : </label>
                        <input type="text" name="mailAdminEmail" id="mailAdminEmail">
                    </div>
                </div>
                
            </div>
            <div class="formBox">
                <div class="inner-heading-container">
                    <div class="main-heading">
                        <h3 class="GoogleManagement">Google Management (Auth)</h3>
                    </div>
                    <div class="input-container">
                        <lebel for="GOOGLE_API_KEY">GOOGLE API KEY : </lebel>
                        <input type="text" name="GOOGLE_API_KEY" id="GOOGLE_API_KEY">
                        <label for="CLIENT_SECRET">CLIENT_SECRET : </label>
                        <input type="text" name="CLIENT_SECRET" id="CLIENT_SECRET">
                        <label for="CLIENT_ID">CLIENT_ID : </label>
                        <input type="text" name="CLIENT_ID" id="CLIENT_ID">
                        <label for="REDIRECT_URI">REDIRECT URI : </label>
                        <input type="text" name="REDIRECT_URI" id="REDIRECT_URI">
                    </div>
                </div>
            </div>
            <div class="formBox">
                <div class="inner-heading-container">
                    <div class="main-heading">
                        <h3 class="nodeMailer">Node Mailer</h3>
                    </div>
                    <div class="input-container">
                        <lebel for="nodemailer_User">User : </lebel>
                        <input type="text" name="nodemailer_User" id="nodemailer_User">
                        <label for="nodemailer_Pass">Pass : </label>
                        <input type="text" name="nodemailer_Pass" id="nodemailer_Pass">
                    </div>
                </div>
            </div>
            <div class="formBox">
                <div class="inner-heading-container">
                    <div class="main-heading">
                        <h3 class="MessageService">Message Service</h3>
                    </div>
                    <div class="input-container">
                        <lebel for="TWILIO_AUTH_TOKEN">TWILIO AUTH TOKEN : </lebel>
                        <input type="text" name="TWILIO_AUTH_TOKEN" id="TWILIO_AUTH_TOKEN">
                        <label for="accountSid">Account Sid : </label>
                        <input type="text" name="accountSid" id="accountSid">
                        <label for="twilioPhone">twilio Phone : </label>
                        <input type="text" name="twilioPhone" id="twilioPhone">
                    </div>
                </div>
            </div>
            <div class="formBox">
                <div class="inner-heading-container">
                    <div class="main-heading">
                        <h3 class="atlasConnectionUrl">atlas Connection Url (MongoDB)</h3>
                    </div>
                    <div class="input-container">

                        <lebel for="atlas_Connection_Auth_Id">ID : </lebel>
                        <input type="text" name="atlas_Connection_Auth_Id" id="atlas_Connection_Auth_Id">
                        <lebel for="atlas_Connection_Auth_Pass">PASS : </lebel>
                        <input type="text" name="atlas_Connection_Auth_Pass" id="atlas_Connection_Auth_Pass">
                        <lebel for="atlas_Connection_Url">URL : </lebel>
                        <input type="text" name="atlas_Connection_Url" id="atlas_Connection_Url">
                       
                    </div>
                </div>
            </div>
            <div class="formBox">
                <div class="inner-heading-container">
                    <div class="main-heading">
                        <h3 class="Admin_Registration_Access_Key">Admin Registration Key</h3>
                    </div>
                    <div class="input-container">

                        <lebel for="Admin_Registration_Access_Key">Access Key : </lebel>
                        <input type="text" name="Admin_Registration_Access_Key" id="Admin_Registration_Access_Key">
                       
                       
                    </div>
                </div>
            </div>
            <div class="formBox">
                <div class="inner-heading-container">
                    <div class="main-heading">
                        <h3 class="drive_contant">Drive contact Information</h3>
                    </div>
                    <div class="input-container">

                        <lebel for="type">type : </lebel>
                        <input type="text" name="type" id="type">

                        <lebel for="project_id">project id : </lebel>
                        <input type="text" name="project_id" id="project_id">

                        <lebel for="private_key_id">private key id : </lebel>
                        <input type="text" name="private_key_id" id="private_key_id">

                        <lebel for="private_key">private key : </lebel>
                        <input type="text" name="private_key" id="private_key">

                        <lebel for="client_email">client email : </lebel>
                        <input type="email" name="client_email" id="client_email">

                        <lebel for="client_id">client id : </lebel>
                        <input type="text" name="client_id" id="client_id">

                        <lebel for="auth_uri">auth uri : </lebel>
                        <input type="text" name="auth_uri" id="auth_uri">

                        <lebel for="token_uri">token uri : </lebel>
                        <input type="text" name="token_uri" id="token_uri">

                        <lebel for="auth_provider_x509_cert_url">auth provider x509 cert url : </lebel>
                        <input type="text" name="auth_provider_x509_cert_url" id="auth_provider_x509_cert_url">

                        <lebel for="client_x509_cert_url">client x509 cert url : </lebel>
                        <input type="text" name="client_x509_cert_url" id="client_x509_cert_url">

                        <lebel for="universe_domain">universe domain : </lebel>
                        <input type="text" name="universe_domain" id="universe_domain">
                       
                       
                    </div>
                    <div class="input-container">
                        <lebel for="Id_for_Icones_logo">Drive Folder Id for Icones (logo) : </lebel>
                        <input type="text" name="Id_for_Icones_logo" id="Id_for_Icones_logo">

                        <lebel for="Id_for_Blogs">Drive Folder Id for Blogs : </lebel>
                        <input type="text" name="Id_for_Blogs" id="Id_for_Blogs">

                        <lebel for="Id_for_Gallery">Drive Folder Id for Gallery : </lebel>
                        <input type="text" name="Id_for_Gallery" id="Id_for_Gallery">

                    </div> 
                </div>
            </div>

            <div class="formBox">
                <div class="inner-heading-container">
                    <div class="main-heading">
                        <h3 class="drive_contant">My Website URL</h3>
                    </div>
                    <div class="input-container">
                        <lebel for="WEB_URL">Website URL : </lebel>
                        <input type="text" name="WEB_URL" id="WEB_URL">
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>

    <p id="feedback"></p>
   
    <script src="/APIs/AdminScripts/Secret-Info-Setting.js"></script>
</body>
</html>