<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container{
        display: flex;
    margin-top: 92px;
    justify-content: center;
    position: relative;
    flex-direction: column;
    justify-items: center;
    text-align: center;

    }
    img{
        height: 200px;
        margin: 1px auto;
    }
</style>
<body>
    <div class="container">
        <img src="/Images/checkTick.png" alt="">
        <h3>Done</h3>
    </div>
  
</body>
</html>