<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/StyleSheet/update-delete-Notifications.css">
    <link rel="stylesheet" href="/StyleSheet/userHomePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>Update/Delete Notifications</title>
</head>
<body><a href=""></a>
    <div class="container">
        <div class="left-container"></div>
        <div class="right-container"></div>

    </div>
   
    <script src="/APIs/AdminScripts/update-delete-Notifications.js"></script>
</body>
</html>