<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Video Call Request Data</title>
    <link rel="stylesheet" href="/StyleSheet/viewAllVideoCallRequestData.css">
</head>
<body>
    <div id="videoCallDataContainer" class="container">
        <h2 class="title">Video Call Request Data</h2>
        <ul id="videoCallList" class="video-call-list"></ul>
    </div>
    <script src="/APIs/AdminScripts/viewAllVideoCallRequestData.js"></script>
</body>
</html>
