<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/StyleSheet/viewDriveImage.css">
    <title>View Drive Images</title>
</head>
<body>
    <h2>Images from Google Drive</h2>
    <div id="imageContainer"></div>
    <script src="/APIs/AdminScripts/viewDriveImage.js"></script>
</body>
</html>
