<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/StyleSheet/view-account-deletion-Request-page.css">

    <title>Account Deletion Requests</title>
</head>
<body>
    <div class="container">

    </div>
   
    
<script src="/APIs/AdminScripts/view-account-deletion-Request-page.js"></script>
</body>
</html>